* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.workspace {
  background: linear-gradient(270deg, #6BD3EB 0%, #2293B0 100%);
  height: 100vh;
  width: 100%;
}
.workspace .digitalClock {
  font-family: "Rubik", sans-serif;
  width: 695px;
  height: 230px;
  background-color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  box-shadow: 0 4px 4px black;
  opacity: 0.7;
  position: relative;
}
.workspace .digitalClock .calendar {
  position: absolute;
  top: 25px;
  right: 30px;
  text-align: end;
}
.workspace .digitalClock .calendar .content {
  display: flex;
  margin-top: 5px;
}
.workspace .digitalClock .mainContent {
  width: 435px;
  height: 230px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 80pt;
}
.workspace .digitalClock .mainContent .dots {
  margin: 0 25px;
}
.workspace .digitalClock .mainContent .seconds {
  font-size: 45pt;
  margin: 30px 0 0 25px;
}

.workspace2 {
  background: linear-gradient(270deg, #6BD3EB 0%, #2293B0 100%);
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.workspace2 .calendar {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-left: 30%;
  margin-bottom: 0;
  font-family: "Rubik", sans-serif;
}
.workspace2 .calendar #month {
  background-color: #db3939;
  color: white;
  text-transform: uppercase;
  font-size: 1.2rem;
  padding: 4px 0;
}
.workspace2 .calendar #day-of-the-week {
  background-color: rgb(255, 144, 103);
  color: rgb(170, 35, 35);
  padding: 4px 16px;
}
.workspace2 .calendar #day-of-month {
  background-color: white;
  height: 80px;
  font-size: 4rem;
}
.workspace2 .analogic-clock {
  width: 35vw;
  height: 35vw;
  background-image: linear-gradient(70deg, rgb(168, 164, 164), white);
  background-size: cover;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  position: relative;
  display: flex;
  justify-content: center;
}
.workspace2 .analogic-clock .hr,
.workspace2 .analogic-clock .min,
.workspace2 .analogic-clock .sec {
  width: 1%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
  transform-origin: bottom;
  z-index: 2;
  border-radius: 2em;
}
.workspace2 .analogic-clock .pin {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 1em;
  height: 1em;
  background: rgb(0, 0, 0);
  border: 2px solid #a5a4a4;
  border-radius: 10em;
  margin: auto;
  z-index: 10;
}
.workspace2 .analogic-clock .hr {
  height: 25%;
  background-color: #000000;
}
.workspace2 .analogic-clock .min {
  height: 30%;
  background-color: #000000;
}
.workspace2 .analogic-clock .sec {
  height: 40%;
  background-color: #db3939;
  transform-origin: 50% 85%;
}
.workspace2 .analogic-clock .numbers {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  font-family: "Rubik", sans-serif;
  font-size: 1.2rem;
  padding: 8px 8px;
}
.workspace2 .analogic-clock .numbers .first-line {
  width: 30vw;
  display: flex;
  justify-content: center;
  margin-top: 8px;
}
.workspace2 .analogic-clock .numbers .centeredNumbers {
  height: 27vw;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  margin: 8px 0;
}
.workspace2 .analogic-clock .numbers .centeredNumbers .second-line {
  width: 20vw;
  display: flex;
  justify-content: space-between;
}
.workspace2 .analogic-clock .numbers .centeredNumbers .third-line {
  width: 30vw;
  display: flex;
  justify-content: space-between;
}
.workspace2 .analogic-clock .numbers .centeredNumbers .fourth-line {
  width: 32vw;
  display: flex;
  justify-content: space-between;
}
.workspace2 .analogic-clock .numbers .centeredNumbers .fiveth-line {
  width: 29vw;
  display: flex;
  justify-content: space-between;
}
.workspace2 .analogic-clock .numbers .centeredNumbers .sixth-line {
  width: 20vw;
  display: flex;
  justify-content: space-between;
}
.workspace2 .analogic-clock .numbers .seventh-line {
  margin-bottom: 8px;
}/*# sourceMappingURL=main.css.map */