* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.workspace {
    height: 100vh;
    width: 100%;

    .digitalClock {
        font-family: 'Rubik', sans-serif;
        width: 650px;
        background-color: #ffffff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 20px;
        box-shadow: 0 4px 4px black;
        opacity: 0.7;
        position: relative;

        .calendar {
            position: absolute;
            top: 25px;
            right: 30px;
            text-align: end;

            .content {
                display: flex;
                margin-top: 5px;
            }
        }

        .mainContent {
            width: 70%;
            height: 200px;
            //border: 1px solid black;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 80pt;

            .hours {
                width: 30%;
                text-align: center;
            }

            .dots {
                margin: 0 2%;
            }

            .minutes {
                width: 30%;
                //text-align: center;
            }

            .seconds {
                width: 15%;
                font-size: 45pt;
                margin: 32px 0 0 0;
            }
        }
    }

    .swipeButtons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 24px;

        .leftButton {
            width: 8px;
            height: 8px;
            border-radius: 10px;
            box-shadow: 0px 0px 10px #FFFFFF;
        }

        .rightButton {
            width: 8px;
            height: 8px;
            border-radius: 10px;
            margin-left: 8px;
            background-color: rgb(255, 255, 255);
        }
    }
}

.workspace2 {
   // background: linear-gradient(270deg, #2293B0 0%, #6BD3EB 100%);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .calendar {
        position: relative;
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-left: 30%;
        margin-bottom: 0;
        font-family: 'Rubik', sans-serif;

        #month {
            background-color: #db3939;
            color: white;            
            text-transform: uppercase;
            font-size: 1.2rem;
            padding: 4px 0;
            border-top: 1px solid black;
            border-left: 1px solid black;
            border-right: 1px solid black;
        }

        #day-of-the-week {
            background-color: rgb(255, 144, 103);
            color: rgb(170, 35, 35);
            padding: 4px 16px;
            border-left: 1px solid black;
            border-right: 1px solid black;
           
        }

        #day-of-month {
            background-color: white;
            height: 80px;
            font-size: 4rem;
            border-bottom: 1px solid black;
            border-left: 1px solid black;
            border-right: 1px solid black;
        }
    }

    .analogic-clock {
        width: 30vw;
        height: 30vw;
        background-image: url("/images/clock.png");
        background-size:cover;
        background-color: white;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 50%;
        position: relative;
        display: flex;
        justify-content: center;
        align-content: center;
        border: 10px solid black;

        .hr,
        .min,
        .sec {
            width: 1%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -100%);
            transform-origin: bottom;
            z-index: 2;
            border-radius: 2em;
        }

        .pin {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 1em;
            height: 1em;
            background: rgb(0, 0, 0);
            border: 2px solid #a5a4a4;
            border-radius: 10em;
            margin: auto;
            z-index: 10;
        }

        .hr {
            height: 25%;
            background-color: #000000;
        }
          
        .min {
            height: 30%;
            background-color: #000000;
        }
          
        .sec {
            height: 40%;
            background-color: #db3939;
            transform-origin: 50% 85%;
        }
        
    }

    .swipeButtons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 24px;

        .leftButton {
            width: 8px;
            height: 8px;
            border-radius: 10px;
            background-color: rgb(255, 255, 255);
        }

        .rightButton {
            width: 8px;
            height: 8px;
            border-radius: 10px;
            margin-left: 8px;
           
            box-shadow: 0px 0px 10px #FFFFFF;
        }
    }

}