* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
}

.radioButtons {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);

    input {
        display: none;
    }
}

.slider {
    height: 400px;
    width: 1000px;
    //border: 2px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    .digitalClock {
        font-family: 'Rubik', sans-serif;
        width: 80%;
        background-color: #ffffff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 20px;
        box-shadow: 0 4px 4px black;
        opacity: 0.7;
        position: relative;
        transition: 600ms;

        .calendar {
            position: absolute;
            top: 25px;
            right: 30px;
            text-align: end;

            .content {
                display: flex;
                margin-top: 5px;
            }
        }

        .mainContent {
            width: 70%;
            height: 200px;
            //border: 1px solid black;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 80pt;

            .hours {
                width: 30%;
                text-align: center;
            }

            .dots {
                margin: 0 2%;
            }

            .minutes {
                width: 30%;
                text-align: center;
            }

            .seconds {
                width: 15%;
                font-size: 45pt;
                margin: 30px 0 0 16px;
            }
        }
    }

    .workspace2 {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
     
         .calendar {
            width: 100px;
            display: flex;
            position: relative;
            flex-direction: column;
            text-align: center;
            top: 100px;
            left: 200px;
            margin-bottom: 8px;
            font-family: 'Rubik', sans-serif;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
     
             #month {
                 background-color: #db3939;
                 color: white;            
                 text-transform: uppercase;
                 font-size: 1rem;
                 padding: 4px 0;
                 border-top: 1px solid black;
                 border-left: 1px solid black;
                 border-right: 1px solid black;
             }
     
             #day-of-the-week {
                 background-color: rgb(255, 144, 103);
                 color: rgb(170, 35, 35);
                 padding: 4px 16px;
                 border-left: 1px solid black;
                 border-right: 1px solid black;
                
             }
     
             #day-of-month {
                 background-color: white;
                 display:flex;
                 justify-content: center;
                 flex-direction: column;
                 height: 4rem;
                 font-size: 3rem;
                 border-bottom: 1px solid black;
                 border-left: 1px solid black;
                 border-right: 1px solid black;
             }
         }
     
         .analogic-clock {
             width: 250px;
             height: 250px;
             background-image: url(images/clock.png);
             background-size:cover;
             background-color: white;
             box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
             border-radius: 50%;
             position: relative;
             display: flex;
             justify-content: center;
             align-content: center;
             border: 3px solid black;
     
             .hr,
             .min,
             .sec {
                 width: 1%;
                 position: absolute;
                 top: 50%;
                 left: 50%;
                 transform: translate(-50%, -100%);
                 transform-origin: bottom;
                 z-index: 2;
                 border-radius: 2em;
             }
     
             .pin {
                 position: absolute;
                 top: 0;
                 left: 0;
                 right: 0;
                 bottom: 0;
                 width: 1em;
                 height: 1em;
                 background: rgb(0, 0, 0);
                 border: 2px solid #a5a4a4;
                 border-radius: 10em;
                 margin: auto;
                 z-index: 10;
             }
     
             .hr {
                 height: 25%;
                 background-color: #000000;
             }
               
             .min {
                 height: 30%;
                 background-color: #000000;
             }
               
             .sec {
                 height: 40%;
                 background-color: #db3939;
                 transform-origin: 50% 85%;
             }
             
         }     
     
     }
}

.sliderButtons {
    display: flex;
    position: absolute;
    bottom: 25%;
    left: 50%;
    transform: translateX(-50%);
    transition: 500ms;

    label {
        display: block;
        width: 15px;
        height: 15px;
        border: 2px solid rgb(147, 154, 157);
        background-color: white;
        margin: 10px;
        border-radius: 10px;

        &:hover {
            box-shadow: 0 0 10px white;
            cursor: pointer;
        }
    }
}